html {
    background-color: rgb(231, 231, 231);
    font-family: sans-serif;
    padding: 1rem;
}

.outer-container {
    display: flex;
    align-items: stretch; /* Align items at the top */
    height: 100vh; /* Full height of the viewport */
  }

.drawing-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-right: 2px solid #ccc;
    min-width: 405px;
}

.menu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box p {
    margin-top: 1rem;
}

.title {
    padding: 2rem 0 1rem 0;
}

#canvas {
    background-color: white;
    border: 2px solid gray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#result {
    border: 1px solid gray;
}


#prediction-container {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5px;
  }

  #prediction-output {
    text-align: center;
  }

  